# Application settings
APP_CONFIG__APP__ENVIRONMENT=DEV

# Run settings
APP_CONFIG__RUN__HOST=0.0.0.0
APP_CONFIG__RUN__PORT=8000
APP_CONFIG__RUN__RELOAD=true
APP_CONFIG__RUN__WORKERS=

# API settings
APP_CONFIG__API__API_PREFIX=/api

# Database settings (required - no default)
APP_CONFIG__DB__URL=postgresql+asyncpg://postgres:postgres@db/app_db
APP_CONFIG__DB__ECHO=false
APP_CONFIG__DB__ECHO_POOL=false
APP_CONFIG__DB__POOL_SIZE=50
APP_CONFIG__DB__MAX_OVERFLOW=10

# JWT authentication settings
APP_CONFIG__AUTH_JWT__PRIVATE_KEY_PATH=certs/jwt-private.pem
APP_CONFIG__AUTH_JWT__PUBLIC_KEY_PATH=certs/jwt-public.pem
APP_CONFIG__AUTH_JWT__ALGORITHM=RS256
APP_CONFIG__AUTH_JWT__TOKEN_TYPE=Bearer
APP_CONFIG__AUTH_JWT__ACCESS_TOKEN_EXPIRE_MINUTES=30

# FastStream (RabbitMQ) settings
APP_CONFIG__FASTSTREAM__URL=amqp://guest:guest@rabbitmq:5672/
APP_CONFIG__FASTSTREAM__USER_REGISTERED_EVENT=user-registered

# S3 storage settings
APP_CONFIG__S3_CONFIG__PUT_FILE_ENDPOINT_URL=http://localstack:4566
APP_CONFIG__S3_CONFIG__GET_FILE_ENDPOINT_URL=http://localhost:4566
APP_CONFIG__S3_CONFIG__REGION_NAME=eu-central-1
APP_CONFIG__S3_CONFIG__AWS_ACCESS_KEY_ID=dev_s3_id
APP_CONFIG__S3_CONFIG__AWS_SECRET_ACCESS_KEY=dev_s3_key
APP_CONFIG__S3_CONFIG__BUCKET_NAME=dev

# Email settings
APP_CONFIG__EMAIL_CONFIG__ADMIN_EMAIL=admin@marketplace.com
APP_CONFIG__EMAIL_CONFIG__SMTP_HOST=maildev
APP_CONFIG__EMAIL_CONFIG__SMTP_PORT=1025
